[submodule "backend"]
	path = backend
	url = https://github.com/IvanFernandezGracia/mit-bad-bank-BACKEND
[submodule "frontend"]
	path = frontend
	url = https://github.com/IvanFernandezGracia/mit-bad-bank-FRONTEND
